* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(242, 236, 236);
}

#outer {
    width: 800px;
    height: 800px;
    padding: 5px;
    margin: 5px;
    display: grid;
    gap: 5px;
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
    background-color: beige;
}

.light-pink{
    background-color: #FFB6C1;
}

.dark-pink{
    background-color: #E75480;
}